@model PseudoCodeGenerator.Models.Keywords

@using (Ajax.BeginForm("ConvertData", new AjaxOptions { UpdateTargetId = "codeArea" }))
{
    <br />
    <div id="codeArea">
        @Html.TextArea("code", htmlAttributes: new { @id = "codeArea", @placeholder = "Вставьте код C#" })
    </div>
    <div id="ChoiceWhatToReplace">
        <p id="keywords">Ключевые слова</p>
        <hr />
        <ul class="chooseKeywords">
            <li>
                <input type="checkbox" id="for" name="CycleFor" checked="checked" />
                <label for="for">for</label>
            </li>
            <li>
                <input type="checkbox" id="foreach" name="CycleForeach" checked="checked" />
                <label for="foreach">foreach</label>
            </li>
            <li>
                <input type="checkbox" id="while" name="CycleWhile" checked="checked" />
                <label for="while">while</label>
            </li>
            <li>
                <input type="checkbox" id="do-while" name="CycleDoWhile" checked="checked" />
                <label for="do-while">do-while</label>
            </li>
        </ul>
        <hr />
        <ul class="chooseKeywords">
            <li>
                <input type="checkbox" id="if-else" name="IfElse" checked="checked" />
                <label for="if-else">if-else</label>
            </li>
        </ul>
        <hr />

        <ul class="chooseKeywords">
            <li>
                <input type="checkbox" id="return" name="Return" checked="checked" />
                <label for="return">return</label>
            </li>
            <li>
                <input type="checkbox" id="continue" name="Continue" checked="checked" />
                <label for="continue">continue</label>
            </li>
            <li>
                <input type="checkbox" id="break" name="Break" checked="checked" />
                <label for="break">break</label>
            </li>
        </ul>
        <hr />
        <div style="text-align:center">
            <input id="convert" class="btn btn-primary" type="submit" value="Преобразовать">
        </div>
    </div>
    <br />
    <br />
}


